[submodule "underscore"]
	path = underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "remote-preview"]
	path = remote-preview
	url = git@github.com:viljamis/Remote-Preview.git
[submodule "todomvc"]
	path = todomvc
	url = git@github.com:bitovi/todomvc.git
